<!-- menu -->
<cadre-menu></cadre-menu>

<!-- Liste des clients -->
<h3 l10nTranslate>client_titre</h3>

<!-- Style décrit ici : https://getbootstrap.com/docs/4.0/content/tables/ -->
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col" l10nTranslate>client_entete_nom</th>
			<th scope="col" l10nTranslate>client_entete_ville</th>
			<th scope="col" l10nTranslate>client_entete_nbDossiers</th>
			<th scope="col" l10nTranslate>client_entete_nbDemandes</th>
			<th scope="col" l10nTranslate>client_entete_dateCreationDernierDossier</th>
			<th scope="col">
				<span l10nTranslate>commun_entete_actions</span>
				<em class="actionDansUnEntete fa fa-plus" (click)="creer(); leForm.reset(clientSelectionne);"></em>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let client of page.content">
			<th scope="row">{{client.nomClient}}</th>
			<td>{{client.ville}}</td>
			<td>{{client.nbDossiers}}</td>
			<td>{{client.nbDemandes}}</td>
			<td>{{client.dateCreationDernierDossier}}</td>
			<td>
				<em class="fa fa-edit" (click)="selectionner(client); "></em>
				<em class="fa fa-remove" (click)="supprimer(client); "></em>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr colspan=6>
			<select [(ngModel)]="page.number" (change)="chargerDonnees()">
				<option *ngFor="let i of listeDeNombres(page.totalPages)">{{i}}</option>
			</select>
		</tr>
	</tfoot>
</table>

<!-- Création ou édition du client -->
<form novalidate #leForm="ngForm">
	<div *ngIf="clientSelectionne">

		<!-- Titre -->
		<hr/>
		<h3 l10nTranslate>client_formulaire_titre</h3>

		<!-- Messages de validation de surface -->
		<div *ngIf="!inputNom.pristine && inputNom.errors?.required" class="alert-danger">Le nom du client est obligatoire</div>

		<!-- Champs -->
		<input required #inputNom="ngModel" [(ngModel)]="clientSelectionne.nomClient" name="nom" l10nTranslate l10n-placeholder placeholder="client_placeholder_nom">
		<input type="text" #inputVille="ngModel" [(ngModel)]="clientSelectionne.ville" name="ville" l10nTranslate l10n-placeholder
		 placeholder="client_placeholder_ville">

		<!-- Boutons -->
		<button type="submit" class="btn btn-outline-secondary" (click)="annulerCreation()" l10nTranslate>client_bouton_annuler</button>
		<button type="submit" class="btn btn-outline-secondary" [disabled]="!leForm.form.valid" (click)="sauvegarder()" l10nTranslate>client_bouton_creer</button>
	</div>
</form>