<!-- Liste des ressources -->
<h3 l10nTranslate>ressource_titre</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12" matSort>

	<ng-container matColumnDef="clef">
		<th mat-header-cell *matHeaderCellDef mat-sort-header l10nTranslate>ressource_entete_clef</th>
		<td mat-cell *matCellDef="let ressource">{{ressource.clef}}</td>
	</ng-container>
	<ng-container matColumnDef="description">
		<th mat-header-cell *matHeaderCellDef mat-sort-header l10nTranslate>ressource_entete_description</th>
		<td mat-cell *matCellDef="let ressource">{{ressource.description}}</td>
	</ng-container>
	<ng-container [matColumnDef]="ro.nom" *ngFor="let ro of roles">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ro.nom}}</th>
		<td mat-cell *matCellDef="let ressource">
			<mat-checkbox [checked]="estAutorise(ro, ressource)" (change)="changerAutorisation(ro, ressource)"></mat-checkbox>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let ligne; columns: columnsToDisplay;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.page.totalElements" [pageSize]="dataSource.page.size"
 showFirstLastButtons></mat-paginator>