/* Pour réduire la largeur de la dernière colonne */
th.mat-header-cell:last-child { padding-right: 4px; }

/** Pour réduire la taille dans la colonne des clefs */
td.mat-cell.cdk-column-clef.mat-column-clef { font-size: 0.6em; }

/** Pour centrer les cases à cocher. */
div.conteneurCheckbox { height:100%; width: 100%; text-align: center; }

/** Pour faire tourner les entêtes de role et les faire apparaître dans le th sans déborder */
div.conteneurTitreRole { height:100%; width: 100%; text-align: center; margin:  30px 0px; transform: rotate(-30deg); transform-origin: center bottom 0; }

/** Petit écran => pas de description */
@media screen and (max-width: 540px) {
  .cdk-column-description { display: none; }
}