<div class="container-fluid">
  <div class="row">

    <!-- Partie gauche : sélection -->
    <div class="col-8">
      <mat-card>
        <mat-card-title>
          <span>Main courante</span>
        </mat-card-title>
        <mat-card-content>


          <!-- liste des reservations -->
          <div class="row">
            <div class="col-12">
              <mat-chip-list class="chipListSpaceEvenly chipListSelectionnable" [selectable]="true">
                <mat-chip *ngFor="let reservation of reservations" (click)="selectionnerReservation(reservation)"
                  [class.chipSelectionne]="reservationSelectionee === reservation">
                  <div>{{reservation.chambre.nom}} - {{reservation.client}}</div>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

          <hr />

          <!-- liste des produits -->
          <div class="row">
            <div class="col-12">
              <mat-chip-list class="chipListSpaceEvenly chipListSelectionnable" [selectable]="true" *ngIf="reservationSelectionee">
                <mat-chip *ngFor="let produit of produits" [style.backgroundColor]="produit.couleur" (click)="ajouterConsomation(chambreSelectionee, produit)">
                  <div>{{produit.nom}}</div>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Partie droite : consommations de la réservation -->
    <div class="col-4" *ngIf="reservationSelectionee">
      <mat-card>
        <mat-card-title>
          <span>{{reservationSelectionee.chambre.nom}} - {{reservationSelectionee.client}}</span>
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="let conso of consommationsDeLaReservationSelectionnee">
            <em class="fa fa-remove" (click)="supprimerConsommation(conso)"></em>
            <em class="fa fa-angle-down" (click)="reduireConsommation(conso)"></em>
            &nbsp;
            <span>{{conso.quantite}} x {{conso.produit.nom}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>