<!-- Le tableau des réservations-->
<mat-card>
  <mat-card-title>
    <span l10nTranslate>reservations_titre_calendrier</span>
  </mat-card-title>
  <mat-card-content class="tableauDonnees">

    <!-- Entete principal-->
    <div class="row entete" *ngIf="!flagSaisieDatesPersonalisees">
      <div class="col-12">

        <span class="boutonsAction">
          <em class="fa fa-angle-double-left" (click)="deplacerDateParJour(-14);" matTooltip="{{ 'calendrier_tooltip_moinsMoins' | translate: lang }}"></em>
          <em class="fa fa-angle-left" (click)="deplacerDateParJour(-7);" matTooltip="{{ 'calendrier_tooltip_moins' | translate: lang }}"></em>
        </span>

        <!-- Dates de début et fin-->
        <span l10nTranslate>reservations_form_du</span>
        <span> {{dateDebut | date:'dd/MM'}} </span>
        <span l10nTranslate>reservations_form_au</span>
        <span> {{dateFin | date:'dd/MM'}}</span>

        <span class="boutonsAction">
          <em class="fa fa-angle-right" (click)="deplacerDateParJour(7);" matTooltip="{{ 'calendrier_tooltip_plus' | translate: lang }}"></em>
          <em class="fa fa-angle-double-right" (click)="deplacerDateParJour(14);" matTooltip="{{ 'calendrier_tooltip_plusPlus' | translate: lang }}"></em>
          <em class="fa fa-calendar" (click)="deplacerDateParDefaut();" matTooltip="{{ 'calendrier_tooltip_dateParDefaut' | translate: lang }}"></em>
          <em class="fa fa-search" (click)="flagSaisieDatesPersonalisees=true" matTooltip="{{ 'commun_tooltip_rechercher' | translate: lang }}"></em>
          <em class="fa fa-plus" (click)="initaliserNouvelleReservation()" matTooltip="{{ 'commun_tooltip_ajouter' | translate: lang }}"></em>
        </span>
      </div>
    </div>

    <!-- Entete secondaire-->
    <div class="row entete" *ngIf="flagSaisieDatesPersonalisees">
      <div class="col-12">

        <!-- Date de début -->
        <span class="libelleDatePicker" l10nTranslate>reservations_form_du</span>
        <mat-form-field class="datePickerLargeurAdaptee">
          <input matInput name="dateDebutPick" [matDatepicker]="dateDebutPick" [max]="dateFin" [(ngModel)]="dateDebut"
            required>
          <mat-datepicker-toggle matSuffix [for]="dateDebutPick"></mat-datepicker-toggle>
          <mat-datepicker #dateDebutPick disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- Date de fin -->
        <span class="libelleDatePicker" l10nTranslate>reservations_form_au</span>
        <mat-form-field class="datePickerLargeurAdaptee">
          <input matInput name="dateFinPick" [matDatepicker]="dateFinPick" [min]="dateDebut" [(ngModel)]="dateFin"
            required>
          <mat-datepicker-toggle matSuffix [for]="dateFinPick"></mat-datepicker-toggle>
          <mat-datepicker #dateFinPick disabled="false"></mat-datepicker>
        </mat-form-field>

        <span class="boutonsAction">
          <em class="fa fa-search" (click)="chargerDonnees();" matTooltip="{{ 'commun_tooltip_rechercher' | translate: lang }}"></em>
          <em class="fa fa-ban" (click)="flagSaisieDatesPersonalisees=false" matTooltip="{{ 'commun_tooltip_annuler' | translate: lang }}"></em>
          <em class="fa fa-plus" (click)="initaliserNouvelleReservation()" matTooltip="{{ 'commun_tooltip_ajouter' | translate: lang }}"></em>
        </span>
      </div>
    </div>

    <!-- Ligne des chambres -->
    <div class="row enteteTableau">
      <div class="col-2" l10nTranslate>reservations_header_date</div>
      <div [class]="'col-' + nbColParChambre" *ngFor="let c of chambres">{{c.nom}}</div>
    </div>

    <!-- Tableau de données-->
    <div [class]="(j.getDay()==0||j.getDay()==6)?'ligneCal row weekend':'ligneCal row'" *ngFor="let j of jours">
      <div class="col-2">{{j | date:'dd/MM'}}</div>
      <div [class]="'col-' + nbColParChambre" *ngFor="let c of chambres;">
        <!-- Case avec une reservation -->
        <div class="reservation" [style]="reservations[c.reference][j.toISOString()].couleurAffichage" *ngIf="!!reservations[c.reference] && !!reservations[c.reference][j.toISOString()]"
          (click)="afficherDetail(reservations[c.reference][j.toISOString()])">
          <span>{{reservations[c.reference][j.toISOString()].client}}</span>
        </div>
        <!-- Case sans reservation -->
        <div *ngIf="!reservations[c.reference] || !reservations[c.reference][j.toISOString()]" (click)="afficherDetail(undefined)"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>