<div *ngIf="reservationSelectionnee">
  <mat-card>
    <mat-card-title>
      <span>Détails de facturation pour </span>
      <span>{{reservationSelectionnee.client}}</span>
      <span> ({{reservationSelectionnee.chambre.nom}})</span>
    </mat-card-title>
    <mat-card-content id="contenuNote">
      <div class="col-12">
        <span class="libelle">Formule : </span>
        <span>{{reservationSelectionnee.formule.nom}} ({{reservationSelectionnee.formule.prixParNuit}} / nuit)</span>
      </div>
      <div class="col-12">
        <span class="libelle">Options : </span>
        <span *ngIf="reservationSelectionnee.options.length === 0">-</span>
        <ul>
          <li *ngFor="let o of reservationSelectionnee.options">
            <span>{{o.nom}} ({{o.prix}} €{{(o.parNuit?' par nuit':'')}}{{(o.parPersonne?' par personne':'')}})</span>
          </li>
        </ul>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" *ngIf="reservationSelectionnee.etatCourant !== 'FACTUREE'" (click)="facturer()" class="btn btn-outline-secondary">Facturer</button>
      <button type="submit" (click)="editerUneNote()" class="btn btn-outline-secondary">
        {{ (reservationSelectionnee.etatCourant === 'FACTUREE') ? 'Re-' : '' }}
        Editer une note
      </button>
    </mat-card-footer>
  </mat-card>
</div>