<div id="detailsFacture" *ngIf="reservationSelectionnee">
  <mat-card>
    <mat-card-title>
      <span>Détails de facturation pour </span>
      <span>{{reservationSelectionnee.client}}</span>
      <span> ({{reservationSelectionnee.chambre.nom}})</span>
    </mat-card-title>
    <mat-card-content>
      <div class="col6">
        <span>Formule : </span>
        <span>{{reservationSelectionnee.formule.nom}} ({{reservationSelectionnee.formule.prixParNuit}} / nuit)</span>
      </div>
      <div class="col6">
        <span>Options : </span>
        <ul>
          <li *ngFor="let o of reservationSelectionnee.options">
            <span>{{o.nom}} ({{o.prix}} €{{(c.parNuit?' par nuit':'')}}{{(c.parPersonne?' par personne':'')}})</span>
          </li>
        </ul>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" (click)="facturer()" class="btn btn-outline-secondary">Creer la facture</button>
      <button type="submit" (click)="creerFacture()" class="btn btn-outline-secondary">Creer la facture</button>
    </mat-card-footer>
  </mat-card>
</div>