<!-- Liste des produits -->
<mat-card>
  <mat-card-title>
    <span l10nTranslate>adminConso_titre_listeDesProduits</span>
    <em class="fa fa-plus" (click)="proposerAjoutProduit()" matTooltip="{{ 'commun_tooltip_ajouter' | translate: lang }}"></em>
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li *ngFor="let p of produits">
        <span [style.color]="p.couleur">{{p.nom}} {{p.prix}} €</span>
        <em class="fa fa-edit" (click)="modifierProduit(p)" *ngIf="!nouveauProduit || p.reference !== nouveauProduit.reference"
          matTooltip="{{ 'commun_tooltip_editer' | translate: lang }}"></em>
        <em class="fa fa-ban" (click)="annulerModificationProduit()" *ngIf="nouveauProduit && p.reference === nouveauProduit.reference"
          matTooltip="{{ 'commun_tooltip_annuler' | translate: lang }}"></em>
        <em class="fa fa-trash-alt" (click)="supprimerProduit(p)" *ngIf="!nouveauProduit || p.reference !== nouveauProduit.reference"
          matTooltip="{{ 'commun_tooltip_supprimer' | translate: lang }}"></em>
      </li>
      <li *ngIf="nouveauProduit" id="formulaireProduit">
        <mat-form-field l10nTranslate>
          <input type="text" matInput name="nom" [(ngModel)]="nouveauProduit.nom" l10n-placeholder placeholder="adminConso_placeholder_nomProduit"
            required>
        </mat-form-field>
        <mat-form-field l10nTranslate>
          <mat-select [(ngModel)]="nouveauProduit.couleur" name="couleur" l10n-placeholder placeholder="adminConso_placeholder_couleurProduit"
            required>
            <mat-option *ngFor="let c of couleursPossibles" [value]="c" [style.backgroundColor]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="inputPrix" l10nTranslate>
          <input type="number" matInput name="prix" [(ngModel)]="nouveauProduit.prix" l10n-placeholder placeholder="adminConso_placeholder_prix"
            required>
        </mat-form-field>
        <em class="fa fa-check" (click)="validerAjoutProduit()" matTooltip="{{ 'commun_tooltip_valider' | translate: lang }}"></em>
        <em class="fa fa-ban" (click)="annulerModificationProduit()" matTooltip="{{ 'commun_tooltip_annuler' | translate: lang }}"></em>
      </li>
    </ul>
  </mat-card-content>
</mat-card>