@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Ajout de couleur dans les input en fonction de leur validité */
input.ng-invalid { border-left: solid 4px red; }
input.ng-valid { border-left: solid 2px green; }
.mat-form-field-label-wrapper { left: 5px!important; }

/* Pour les boutons FA dans un entete de tableau */
em.fa.actionDansUnEntete { margin-left: 5px; }

/** Réduction des boutons d'action dans les titres de carte */
.mat-card-title em.fa { font-size: 18px; }

/* Pour les FA en général */
.fa { cursor: pointer; }

/* Réduction du padding des cartes Material */
.mat-card { padding: 10px; }

/* Diminution de la largeur des input de datePicker */
.datePickerLargeurAdaptee { max-width: 100px; }
