<!-- menu -->
<cadre-menu></cadre-menu>

<!-- Liste des utilisateurs -->
<table>
	<thead>
		<tr>
			<td>Identifiant</td>
			<td>Rôles</td>
			<td>
				<span>Actions</span>
				<em class="fa fa-plus" (click)="creerUtilisateur(); utilisateurForm.reset(utilisateurSelectionne);"></em>
			</td>
		</tr>
	</thead>
	<tr *ngFor="let utilisateur of utilisateurs" [class.ligneSelectionne]="utilisateur === utilisateurSelectionne">
		<td>{{utilisateur.login}}</td>
		<td>
			<span *ngFor="let role of utilisateur.roles">{{role.nom}}</span>
		</td>
		<td>
			<em class="fa fa-edit" (click)="selectionnerUtilisateur(utilisateur); utilisateurForm.reset(utilisateur);"></em>
		</td>
	</tr>
</table>

<!-- Création ou édition d'utilisateur -->
<form novalidate #utilisateurForm="ngForm">
	<div *ngIf="utilisateurSelectionne">
		<div *ngIf="!inputLogin.pristine && inputLogin.errors?.required" class="alert-danger">Le nom d'utilisateur est obligatoire</div>
		<div *ngIf="!inputLogin.pristine && inputLogin.errors?.minlength" class="alert-danger">Le nom d'utilisateur doit faire 6 caractères au minimum</div>
		<input required minlength="6" #inputLogin="ngModel" [(ngModel)]="utilisateurSelectionne.login" name="login" placeholder="Nom d'utilisateur">

		<div *ngIf="!inputMdp.pristine && inputMdp.errors?.required" class="alert-danger">Le mot de passe est obligatoire</div>
		<div *ngIf="!inputMdp.pristine && inputMdp.errors?.minlength" class="alert-danger">Le mot de passe doit faire 6 caractères au minimum</div>
		<input required minlength="6" type="password" #inputMdp="ngModel" [(ngModel)]="utilisateurSelectionne.mdp" name="mdp" placeholder="Mot de passe">

		<button type="submit" [disabled]="!utilisateurForm.form.valid" (click)="sauvegarderUtilisateur()">Sauvegarder</button>
	</div>
</form>