<div id="menu">
  <div class="topnav" id="myTopnav" #myTopNav *ngIf="utilisateurConnecte">

    <!-- Accueil -->
    <a href="#home" routerLink="/page-accueil-route" routerLinkActive="active" l10nTranslate>menu_accueil</a>

    <!-- pour chaque module-->
    <div class="dropdown" *ngFor="let module of modules">
      <button class="dropbtn">
        <span l10nTranslate>{{module.nom}}</span>
        <em class="fa fa-caret-down"></em>
      </button>
      <div class="dropdown-content">
        <a *ngFor="let page of module.pages" href="#" (click)="myTopNav.className='topnav'" [routerLink]="page.route"
          routerLinkActive="active">
          <span l10nTranslate>{{page.nom}}</span>
        </a>
      </div>
    </div>

    <!-- Déconnexion-->
    <a href="#" (click)="deconnecter()" l10nTranslate>menu_deconnexion</a>

    <!-- Bouton du menu en petit écran -->
    <a href="javascript:void(0);" class="icon" (click)="myTopNav.className=(myTopNav.className==='topnav')?'topnav responsive':'topnav'">&#9776;</a>
  </div>
</div>