<div id="menu">
  <div class="topnav" id="myTopnav" #myTopNav>

    <!-- Accueil -->
    <a href="#home" routerLink="/page-accueil-route" routerLinkActive="active" l10nTranslate>menu_accueil</a>

    <!-- Module administration-->
    <div class="dropdown">
      <button class="dropbtn">
        <span l10nTranslate>menu_titre_administration</span>
        <em class="fa fa-caret-down"></em>
      </button>
      <div class="dropdown-content">
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-utilisateur-route" routerLinkActive="active">
          <span l10nTranslate>menu_utilisateur</span>
        </a>
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-role-route" routerLinkActive="active">
          <span l10nTranslate>menu_role</span>
        </a>
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-ressource-route" routerLinkActive="active">
          <span l10nTranslate>menu_ressource</span>
        </a>
      </div>
    </div>

    <!-- Module reservation -->
    <div class="dropdown">
      <button class="dropbtn">
        <span l10nTranslate>menu_titre_reservation</span>
        <em class="fa fa-caret-down"></em>
      </button>
      <div class="dropdown-content">
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-reservations-route" routerLinkActive="active">
          <span l10nTranslate>menu_reservations</span>
        </a>
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-adminreservations-route" routerLinkActive="active">
          <span l10nTranslate>menu_adminreservations</span>
        </a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        <span l10nTranslate>menu_titre_consommation</span>
        <em class="fa fa-caret-down"></em>
      </button>
      <div class="dropdown-content">
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-consommations-route" routerLinkActive="active"
          l10nTranslate>menu_consommation</a>
        <a href="#" (click)="myTopNav.className='topnav'" routerLink="/page-adminconsommations-route" routerLinkActive="active"
          l10nTranslate>menu_adminconsommation</a>
      </div>
    </div>

    <!-- Déconnexion-->
    <a href="#" (click)="deconnecter()" l10nTranslate>menu_deconnexion</a>

    <!-- Bouton du menu en petit écran -->
    <a href="javascript:void(0);" class="icon" (click)="myTopNav.className=(myTopNav.className==='topnav')?'topnav responsive':'topnav'">&#9776;</a>
  </div>
</div>