<div class="container-fluid">

  <!-- Entete -->
  <div class="row">
    <div class="col-2">Début : {{dateDebut | date:short}}</div>
    <div class="col-2">Fin : {{dateFin | date:short}}</div>
  </div>
  <div class="row">
    <div class="col-2">Date</div>
    <div class="col-2" *ngFor="let c of chambres">{{c.nom}}</div>
  </div>

  <!-- Tableau de données-->
  <div class="row" *ngFor="let j of jours">
    <div class="col-2">{{j | date:short}}</div>
    <div class="col-2" *ngFor="let c of chambres;">
      <span>{{reservations[c.reference][j.toISOString()]?reservations[c.reference][j.toISOString()].client:''}}</span>
    </div>
  </div>
</div>