/** Texte du tableau */
.tableauDonnees { text-align: center; }
div.entete { font-size: 1.3em; margin-bottom: 15px; }
div.enteteTableau { font-size: 1em; margin-bottom: 5px; }

/** Petit padding entre les colonnes */
.container.grid-list-xl .layout .flex {  padding:0px 2px!important; } 

/** Placement des spans dans l'entete */
span.boutonsAction em { margin: 0px 5px; }
span.libelleDatePicker { margin-right: 10px; line-height: 32px; }

/** Couleur pour les lignes de weekend */
div.weekend > div { background-color: lightgray; }

/** Pointeur dans les cases contenant une réservation */
div.reservation { width:100%; height: 100%; font-size: 0.8em; cursor: pointer; }

/** Pas de marge entre les lignes */
div.ligneCal > div { margin: 0px!important; }

/** Pour réduire la taille des inputs de datepicker */
.petitdatepicker { width: 10px; }
.petitdatepicker .v-input__slot { margin-bottom: 0px; }
.petitdatepicker .v-text-field { margin: 0px; padding: 0px; }
