<div class="container-fluid">

  <div class="erreur col-12">{{ msgErreur }}</div>

  <h2 l10nTranslate>connexion_titre</h2>

  <div class="form-group messageErreur" *ngIf="!!messageErreurConnexion">
    oups i18n ?
  </div>
  <div class="form-group">
    <mat-form-field l10nTranslate>
      <input matInput autocomplete="username login" [(ngModel)]="login" name="login" l10n-placeholder placeholder="connexion_identifiant">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field l10nTranslate>
      <input type="password" matInput autocomplete="current-password" [(ngModel)]="mdp" l10n-placeholder placeholder="connexion_motDePasse">
    </mat-form-field>
  </div>
  <button class="btn btn-outline-secondary" (click)="connecter()" l10nTranslate>connexion_boutonConnexion</button>


</div>