<div class="container-fluid">

  <div class="erreur col-12">{{ msgErreur }}</div>

  <h2 l10nTranslate>connexion_titre</h2>

  <div class="form-group">
    <label l10nTranslate for="login">connexion_identifiant</label>
    <input class="form-control" id="login" matInput [(ngModel)]="login" autocomplete="username login" required/>
  </div>
  <div class="form-group">
    <label l10nTranslate for="mdp">connexion_motDePasse</label>
    <input class="form-control" id="mdp" type="password" matInput [(ngModel)]="mdp" autocomplete="current-password" required
    />
  </div>
  <button class="btn btn-outline-secondary" (click)="connecter()" l10nTranslate>connexion_boutonConnexion</button>


</div>